<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import InputNumber from 'primevue/inputnumber';
import Dropdown from 'primevue/dropdown';
import { useForm } from '@inertiajs/vue3';

const props = defineProps({
    product: Object | null,
    suppliers: []
});

const product = props.product

const form = useForm({
    supplier: product?.supplier ?? null,
    name: product?.name ?? null,
    description: product?.description ?? null,
    price: product?.price ?? null,
});
</script>

<template>
    <Head title="Product Form" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Product Form</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                        <section>
                            <header>
                                <h2 class="text-lg font-medium text-gray-900">Product Information</h2>

                                <!-- <p class="mt-1 text-sm text-gray-600">
                                Update your account's profile information and email address.
                            </p> -->
                            </header>

                            <form @submit.prevent="product ? form.patch(route('products.update', product.id)) : form.post(route('products.store'))" class="mt-6 space-y-6">
                                <div>
                                    <InputLabel for="supplier" value="Supplier" />

                                    <Dropdown id="supplier" v-model="form.supplier" :options="suppliers" optionLabel="name" placeholder="Select a Supplier" class="w-full md:w-14rem" />

                                    <InputError class="mt-2" :message="form.errors['supplier.id']" />
                                </div>

                                <!-- <div>
                                    <InputLabel for="code" value="Code" />

                                    <TextInput id="code" type="text" class="mt-1 block w-full" v-model="form.code" required
                                        autofocus />

                                    <InputError class="mt-2" :message="form.errors.code" />
                                </div> -->

                                <div>
                                    <InputLabel for="name" value="Name" />

                                    <TextInput id="name" type="text" class="mt-1 block w-full" v-model="form.name" required />

                                    <InputError class="mt-2" :message="form.errors.name" />
                                </div>

                                <div>
                                    <InputLabel for="description" value="Description" />

                                    <TextInput id="description" type="text" class="mt-1 block w-full" v-model="form.description" required />

                                    <InputError class="mt-2" :message="form.errors.description" />
                                </div>

                                <div>
                                    <InputLabel for="price" value="Price" />

                                    <InputNumber 
                                        locale="id-ID" 
                                        prefix="Rp. " 
                                        v-model="form.price" 
                                        required />

                                    <!-- <TextInput id="price" type="text" class="mt-1 block w-full" v-model="form.price" required /> -->

                                    <InputError class="mt-2" :message="form.errors.price" />
                                </div>

                                <div class="flex items-center gap-4">
                                    <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                                    <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                        leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                        <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Saved.</p>
                                    </Transition>
                                </div>
                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
