<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

defineProps({
    products: Array
});
</script>

<template>
    <Head title="Product" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Product</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <Link class="hidden-print m-10 inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150" :href="route('products.create')">+ Create Product</Link>
                    <DataTable :value="products" stripedRows tableStyle="min-width: 50rem">
                        <Column field="code" header="Code"></Column>
                        <Column field="name" header="Name"></Column>
                        <Column field="description" header="Description"></Column>
                        <Column field="supplier.name" header="Supplier Name"></Column>
                        <Column field="price_formatted" header="Price"></Column>
                        <Column field="action" header="Action">
                            <template #body="slotProps">
                                <div v-if="slotProps.data.invoices_count > 0">Used By Invoice (total: {{ slotProps.data.invoices_count }})</div>
                                <Link v-else :href="route('products.destroy', slotProps.data.id)" method="delete" as="button">Delete</Link>
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
