<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Link, useForm, usePage } from '@inertiajs/vue3';

const props = defineProps({
    customer: Object | null,
    to_supplier: Boolean
});

const customer = props.customer

const form = useForm({
    name: customer?.name ?? null,
    email: customer?.email ?? null,
    phone: customer?.phone ?? null,
    address: customer?.address ?? null,
});
</script>

<template>
    <Head :title="(to_supplier ? 'Supplier' : 'Customer') + ' Form'" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">{{ (to_supplier ? 'Supplier' : 'Customer') + ' Form' }}</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                        <section>
                            <header>
                                <h2 class="text-lg font-medium text-gray-900">{{ (to_supplier ? 'Supplier' : 'Customer') + ' Information' }}</h2>

                                <!-- <p class="mt-1 text-sm text-gray-600">
                                Update your account's profile information and email address.
                            </p> -->
                            </header>

                            <form @submit.prevent="customer ? form.patch(route(to_supplier ? 'suppliers.update' : 'customers.update', customer.id)) : form.post(route(to_supplier ? 'suppliers.store' : 'customers.store'))" class="mt-6 space-y-6">
                                <div>
                                    <InputLabel for="name" value="Name" />

                                    <TextInput id="name" type="text" class="mt-1 block w-full" v-model="form.name" required
                                        autofocus autocomplete="name" />

                                    <InputError class="mt-2" :message="form.errors.name" />
                                </div>

                                <div>
                                    <InputLabel for="email" value="Email" />

                                    <TextInput id="email" type="email" class="mt-1 block w-full" v-model="form.email"
                                        required autocomplete="username" />

                                    <InputError class="mt-2" :message="form.errors.email" />
                                </div>

                                <div>
                                    <InputLabel for="phone" value="Phone" />

                                    <TextInput id="phone" type="text" class="mt-1 block w-full" v-model="form.phone" required
                                        autofocus autocomplete="phone" />

                                    <InputError class="mt-2" :message="form.errors.phone" />
                                </div>

                                <div>
                                    <InputLabel for="address" value="Address" />

                                    <TextInput id="address" type="text" class="mt-1 block w-full" v-model="form.address" required
                                        autofocus autocomplete="address" />

                                    <InputError class="mt-2" :message="form.errors.address" />
                                </div>

                                <div class="flex items-center gap-4">
                                    <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                                    <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                        leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                        <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Saved.</p>
                                    </Transition>
                                </div>
                            </form>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
