<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Dropdown from "primevue/dropdown";
import InputNumber from "primevue/inputnumber";
import ColumnGroup from "primevue/columngroup";
import Row from "primevue/row";
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Link, useForm, usePage } from '@inertiajs/vue3';

const props = defineProps({
    invoice: Object | null,
    products: [] | null
});

const form = useForm({
    product: null,
    quantity: 1,
});
</script>

<template>
    <Head title="Add product to Invoice" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Invoice {{ invoice.code }}</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <!-- <div class="m-4">
                        
                    </div> -->
                    <form @submit.prevent="form.post(route('invoices.products.store', { invoice: invoice.id }))"
                        class="mt-6 space-y-6">
                        <div class="flex w-full mx-2">
                            <div class="w-1/2">
                                <InputLabel for="supplier" value="Supplier" />

                                <Dropdown id="supplier" v-model="form.product" :options="products" optionLabel="name"
                                    placeholder="Select a Product" class="w-full md:w-14rem" />

                                <InputError class="mt-2" :message="form.errors['product.id']" />
                            </div>

                            <div class="w-1/2 mx-2">
                                <InputLabel for="quantity" value="Quantity" />

                                <InputNumber v-model="form.quantity" inputId="horizontal-buttons" showButtons
                                    buttonLayout="horizontal" :step="1" decrementButtonClass="p-button-danger"
                                    incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" />

                                <InputError class="mt-2" :message="form.errors.quantity" />
                            </div>
                        </div>


                        <div class="flex items-center gap-4">
                            <PrimaryButton :disabled="form.processing">Submit</PrimaryButton>

                            <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Submitted.</p>
                            </Transition>
                        </div>
                    </form>

                    <!-- <DataTable :value="invoice.products" tableStyle="min-width: 50rem">
                        <Column field="code" header="Code" sortable></Column>
                        <Column field="name" header="Name" sortable></Column>
                        <Column field="pivot.quantity" header="Quantity" bodyStyle="text-align:right" sortable></Column>
                        <Column field="price_formatted" header="Unit Price" bodyStyle="text-align:right" sortable></Column>
                        <Column field="ammount_formatted" header="Ammount" bodyStyle="text-align:right" sortable></Column>
                    </DataTable> -->
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
