<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, router } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import Dropdown from 'primevue/dropdown';
import { useForm } from '@inertiajs/vue3';

const props = defineProps({
    invoice: Object | null,
    products: Array,
    customers: Array,
});

const form = useForm({
    customer: null,
});
</script>

<template>
    <Head title="Invoice Form" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Invoice Form</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
                        <!-- <div v-if="invoice">
                            Test invoice
                        </div> -->
                        <div>
                            Pilih Customer Terlebih Dahulu
                            <form @submit.prevent="form.post(route('invoices.store'), {onSuccess: () => router.reload()})" class="mt-6 space-y-6">
                                <div>
                                    <InputLabel for="customer" value="Customer" />

                                    <Dropdown id="customer" v-model="form.customer" :options="customers" optionLabel="name" placeholder="Select a Customer" class="w-full md:w-14rem" />

                                    <InputError class="mt-2" :message="form.errors['customer.id']" />
                                </div>

                                <div class="flex items-center gap-4">
                                    <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                                    <Transition enter-active-class="transition ease-in-out" enter-from-class="opacity-0"
                                        leave-active-class="transition ease-in-out" leave-to-class="opacity-0">
                                        <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Saved.</p>
                                    </Transition>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
