<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

defineProps({
    invoices: Array
});
</script>

<template>
    <Head title="Invoice" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Invoice</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <Link class="hidden-print m-10 inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150" :href="route('invoices.create')">+ Create Invoice</Link>
                    <DataTable :value="invoices" stripedRows tableStyle="min-width: 50rem">
                        <Column field="code" header="Code">
                            <template #body="slotProps">
                                <Link :href="route('invoices.show', slotProps.data.id)">{{ slotProps.data.code }}</Link>
                                <!-- <img :src="`https://primefaces.org/cdn/primevue/images/product/${slotProps.data.image}`" :alt="slotProps.data.image" class="w-6rem shadow-2 border-round" /> -->
                            </template>
                        </Column>
                        <Column field="customer.name" header="Customer Name"></Column>
                        <Column field="sub_total_formatted" header="Sub Total" bodyStyle="text-align:right"></Column>
                        <Column field="action" header="Action">
                            <template #body="slotProps">
                                <Link :href="route('invoices.destroy', slotProps.data.id)" method="delete" as="button">Delete</Link>
                            </template>
                        </Column>
                    </DataTable>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
