<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import ColumnGroup from "primevue/columngroup";
import Row from "primevue/row";
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';

const props = defineProps({
    invoice: Object | null,
    products: [] | null
});
</script>

<template>
    <Head :title="'Invoice #' + invoice.id" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight mb-10">Invoice {{ invoice.code }}</h2>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight mb-4">Customer</h2>
            <div>
                <p>Name: {{ invoice.customer.name }}</p>
                <p>Email: {{ invoice.customer.email }}</p>
                <p>Address: {{ invoice.customer.address }}</p>
            </div>
            <Link :href="route('invoices.products.create', invoice.id)" 
            class="inline-flex items-center mt-4 px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 hidden-print" >+ Product</Link>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <DataTable :value="invoice.products" tableStyle="min-width: 50rem">
                        <Column field="code" header="Code" sortable></Column>
                        <Column field="name" header="Name" sortable></Column>
                        <Column field="pivot.quantity" header="Quantity" bodyStyle="text-align:right" sortable></Column>
                        <Column field="price_formatted" header="Unit Price" bodyStyle="text-align:right" sortable></Column>
                        <Column field="ammount_formatted" header="Ammount" bodyStyle="text-align:right" sortable></Column>
                        <ColumnGroup type="footer">
                            <Row>
                                <Column footer="Sub Totals:" :colspan="4" footerStyle="text-align:right" />
                                <Column :footer="invoice.sub_total_formatted" footerStyle="text-align:right" />
                            </Row>
                            <Row>
                                <Column footer="PPN 11 %:" :colspan="4" footerStyle="text-align:right" />
                                <Column :footer="invoice.tax_formatted" footerStyle="text-align:right" />
                            </Row>
                            <Row>
                                <Column footer="TOTAL:" :colspan="4" footerStyle="text-align:right" />
                                <Column :footer="invoice.total_formatted" footerStyle="text-align:right" />
                            </Row>
                        </ColumnGroup>
                    </DataTable>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
